// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




  
body{

background-color: #F8F8F8;
}

.center{
  
  text-align: center;
}



.principal{
font-size: 12px;
color: #B0B0B0;
}


.quest{
  
  color: #EB7814;
  font-size: 18px;
}

.question{

font-size: 20px;
font-weight: bold;
  

}

.quest:hover {
  color: orange;
}


.textsecond{
  
  font-weight: bold;
}

.vote{
  
  
  text-decoration: none !important;
  text-align: center;
 

.voteup{
  
  
  color:black;
  font-size: 24px;
  
}

.votedown{
  
  
  color:orange;
  font-size: 24px;


}


}




.product-upvote {
  position: relative;
  float: left;
  text-align: center;
  text-decoration: none;
  margin-right: 20px;
  padding: 5px 5px;
  width: 35px;

  .upvote-arrow {
    border-bottom: 9px solid #534540;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 9px solid transparent;
    left: 10px;
    position: absolute;
    top: 0px;
  }

  .upvote-count {
    display: block;
    color: #303030;
    font-size: 14px;
    font-weight: bold;
    line-height: 1;
    margin-top: 18px;
  }

  &:hover .upvote-arrow { border-bottom-color: #F04500; }

  &.upvote-active {
    .upvote-arrow { border-bottom-color: #F04500; }
    .upvote-count { color: #F04500; }
  }
}



